name: Coverity Pull Request Scan

on:
  pull_request:
    branches: ['dev', 'master']
      
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  coverity-pr-scan:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the code
      uses: actions/checkout@v3

    - name: Get-repo-name-and-tag-for-building-image
      run: |
          echo "REPO_NAME=$(basename ${{ github.repository }})" >> $GITHUB_ENV
        
    - uses: Azure/login@v2
      with:
        creds: ${{ secrets.CCIS_BLUI_AZ_CRED }}  # Azure credentials for user service principal

    - uses: Azure/get-keyvault-secrets@v1
      with:
        keyvault: 'kv-etnblc-ado-eus-tst'  # Key Vault - user has been granted read permissions
        secrets: 'secret-etnblc-ado-pat-token, secret-etnblc-github-username, secret-etnblc-github-pat-token, secret-etnblc-blackduck-cloud-url, secret-etnblc-blackduck-api-token, secret-etnblc-cov-authkey-bash64, secret-etnblc-cov-license-bash64, secret-etnblc-coverity-pass, secret-etnblc-coverity-user'  # Specify the secret(s) you want to retrieve
      id: mySecrets  # The secret will be available in steps.mySecrets.outputs.GitHubSecret

    - name: Download artifact from ADO
      shell: bash
      run: |
        echo ${{ steps.mySecrets.outputs.secret-etnblc-ado-pat-token }} | az devops login
        az artifacts universal download \
        --organization "https://dev.azure.com/etn-ccis/" \
        --project "154adee8-6030-4d66-ba8a-a18c42fb28e8" \
        --scope project --feed "cloud" \
        --name "cov-analysis-linux64" --version "2023.12.0" --path .
    
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'pnpm'

    - name: Install pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 8

    - name: Install dependencies
      run: pnpm install

    - name: Set up Java 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: License file
      shell: bash
      run: |
        COV_LICENSE_PATH=$RUNNER_TEMP/license.dat
        echo -n "${{ steps.mySecrets.outputs.secret-etnblc-cov-license-bash64 }}" | base64 --decode > $COV_LICENSE_PATH

    - name: Create Authfile and Certs
      shell: bash
      run: |
        # create variable
        AUTH_KEYFILE=$RUNNER_TEMP/auth-key.txt
        # import file
        echo -n "${{ steps.mySecrets.outputs.secret-etnblc-cov-authkey-bash64 }}" | base64 --decode > $AUTH_KEYFILE
        chmod 400 $AUTH_KEYFILE

    - name: Install Coverity
      shell: bash
      run: |
        chmod +x cov-*.sh
        ./cov-analysis-linux64-2023.12.0.sh -q --installation.dir=/opt/coverity/analysis/2023.12.0 \
        --license.agreement=agree --license.region=0 --license.type.choice=0 --license.cov.path=$RUNNER_TEMP/license.dat \
        --component.sdk=false --component.skip.documentation=true && \
        rm cov-analysis-linux64-*.sh $RUNNER_TEMP/license.dat

    - name: Get Pull Request Changeset
      if: ${{ github.event_name == 'pull_request' }}
      id: changeset
      uses: jitterbit/get-changed-files@v1
      with:
        format: 'json'

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Coverity Scan (Incremental analysis)
      continue-on-error: true
      if: ${{github.event_name == 'pull_request'}}
      run: |
          export COVERITY_BLC_MAVEN=/usr/share/maven/bin
          export COVERITY_BLC_GRADLE_ZIP=$GITHUB_WORKSPACE/gradle-7.6.2-all.zip
          export COVERITY_BLC_GRADLE_JDK=$JAVA_HOME
          export PATH="/opt/coverity/analysis/2023.12.0/bin:$PATH"
          # Capture added, modified, and deleted files
          added_files=$(echo '${{ steps.changeset.outputs.added_files }}' | jq -r '.[]')
          modified_files=$(echo '${{ steps.changeset.outputs.modified_files }}' | jq -r '.[]')
          deleted_files=$(echo '${{ steps.changeset.outputs.deleted_files }}' | jq -r '.[]')
    
          # Process added and modified files
          for file in $added_files $modified_files; do
            echo ${file} >> coverity-files-to-scan.txt
            echo "Scan changed file ${file}."
          done
    
          # Process deleted files
          for file in $deleted_files; do
            echo "File deleted: ${file}"
          done
          
          cov-capture --dir idir --project-dir .
          cov-run-desktop --dir idir --strip-path `pwd` --url https://coverity.eaton.com --stream ${{ env.REPO_NAME }} --present-in-reference false \
            --ignore-uncapturable-inputs true --auth-key-file $RUNNER_TEMP/auth-key.txt \
            --json-output-v7 coverity-results.json \
            --all --webapp-security --enable-callgraph-metrics --aggressiveness-level high --set-new-defect-owner false \
            --enable-audit-mode -en HARDCODED_CREDENTIALS -en UNENCRYPTED_SENSITIVE_DATA -en USER_POINTER -en WEAK_GUARD -en WEAK_PASSWORD_HASH \
            ${{ steps.changeset.outputs.added_modified }}
          cov-format-errors --dir idir --json-output-v7 coverity-results.json
          echo "format the errors from json"
          
    - name: Upload build output
      uses: actions/upload-artifact@v4
      with:
        name: Coverity Report
        path: coverity-results.json
                    
    - name: Check the Coverity Result for Dead Code
      run: |
        if [ ! -f coverity-results.json ]; then
          echo "coverity-results.json file not found. Skipping the check."
          exit 0
        fi
        dead_code=$(jq '.issues[] | select(.type == "deadcode")' coverity-results.json)
        if [ -n "$dead_code" ]; then
          echo "Dead Code Found!"
          exit 1
        else
          echo "No Dead Code found."
        fi
                 
    - name: Check the Coverity Result for High Issues
      run: |
        if [ ! -f coverity-results.json ]; then
          echo "coverity-results.json file not found. Skipping the check."
          exit 0
        fi
        high_issues=$(jq '.issues[] | select(.checkerProperties.impact == "High")' coverity-results.json)
        if [ -n "$high_issues" ]; then
          echo "High issues found!"
          exit 1
        else
          echo "No High issues found."
        fi